.settings .settings__sections {
  padding: 30px 0px;
  border-top: 1px solid #f7f7f7;
}

.settings__setting .settings__icon {
  font-size: 20px;
  margin-right: 20px;
}

.settings__setting .settings__title {
  font-size: 22px;
  font-weight: 300;
}

.settings .settings__setting {
  margin-bottom: 30px;
}

.settings .settings__setting:last-child {
  margin-bottom: 0px;
}
