.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #656565;
}
.status-bar i {
  font-size: 14px;
}

.status-bar .status-bar__battery-level {
  margin-left: 10px;
}
